body {
    background-color: #FFFFFF;
    text-align: center;
}

.title {
    color: #ff6f61;

    font-family: 'Dancing Script', cursive;
    font-size: 200%;
    margin-left: 20px;
}

.rounded-image {
    border-radius: 50%;

    width: 50%;
    height: auto;

}


.paragraph {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.list-title {
    color: #ff6f61;
    font-family: 'Poppins'sans-serif;
    list-style-type: none;
    font-size: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    display: none;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.servicesItems img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .navbar-nav {
        display: none;
    }

    .dropdown {
        display: flex;
    }

    .nav-list li {
        margin: 0;
        padding: 0;
    }

    .services {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
}