body {
    background-color: #FFFFFF;
    text-align: center;
}

.title {
    color: #ff6f61;

    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    margin-left: 20px;
}

.black {
    color: black;
    font-weight: bold;
}

.rounded-image {
    border-radius: 50%;

    width: 50%;
    height: auto;

}

.paragraph {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.faq-container,
.course-info-container {
    width: 60%;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
    font-size: 1.2rem;
}



.list-title {
    color: #ff6f61;
    font-family: 'Poppins'sans-serif;
    list-style-type: none;
    font-size: 20px;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    display: none;
}

.dropdown-menu {
    left: -50px;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.servicesItems img {
    width: 100%;
    height: auto;
}

.social {
    width: 100%;
    min-height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socialIcons {
    font-size: 2.7rem;
    margin-left: 15px;
    margin-right: 15px;
    color: #ff6f61;
}

.social-link {
    text-decoration: none;
    color: #ff6f61;

}

.social-link:hover {
    color: #e26fff;
}

.home-page {
    display: flex;
    flex-direction: row;

}

.section {
    width: 50%;
    min-height: 80vh;
}

.section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.aboutMe .section-left {
    padding-left: 5%;
    font-size: 1.1rem;
}

.section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-right .img-container {
    width: 100%;
    height: 100%;
    display: flex;
}


.section-right .img-container img {
    width: 100%;
    height: auto;
}

.section-right .img-container .vertical-img {
    width: auto;
    height: 75%;
    margin: auto;
}

.contact-container {
    width: 60%;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.box {
    border: 5px solid black;
    padding: 60px;
    margin: 0px;
    box-sizing: border-box;

}

.box h1 {
    font-size: 4.5rem;
}

.box p {
    font-size: 2.5rem;
}

.navbar-home {
    justify-content: flex-end !important;
    padding-right: 10%;
}

@media (max-width: 768px) {
    .navbar-nav {
        display: none;
    }

    .dropdown {
        display: flex;
    }

    .nav-list li {
        margin: 0;
        padding: 0;
    }

    .services {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    .home-page,
    .aboutMe {
        flex-direction: column;
    }

    .section {
        width: 100%;
    }

    .section-right .img-container .vertical-img {
        width: 100%;
    }
}