footer {
    background: rgb(168,48,249);
    background: linear-gradient(90deg, rgba(168,48,249,1) 0%, rgba(255,224,224,1) 100%);
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    bottom: 0;
    color: white;

    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
